NODE_ENV=development
PORT=3000
# Recommended for most uses
DATABASE_URL=postgresql://neondb_owner:npg_tYzKLCy1WAV4@ep-lucky-union-aqbbtfew-pooler.c-8.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=verify-full

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_tYzKLCy1WAV4@ep-lucky-union-aqbbtfew.c-8.us-east-1.aws.neon.tech/neondb?sslmode=verify-full

# Parameters for constructing your own connection string
PGHOST=ep-lucky-union-aqbbtfew-pooler.c-8.us-east-1.aws.neon.tech
PGHOST_UNPOOLED=ep-lucky-union-aqbbtfew.c-8.us-east-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=npg_tYzKLCy1WAV4

# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgresql://neondb_owner:npg_tYzKLCy1WAV4@ep-lucky-union-aqbbtfew-pooler.c-8.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=verify-full
POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:npg_tYzKLCy1WAV4@ep-lucky-union-aqbbtfew.c-8.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-lucky-union-aqbbtfew-pooler.c-8.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=npg_tYzKLCy1WAV4
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgresql://neondb_owner:npg_tYzKLCy1WAV4@ep-lucky-union-aqbbtfew-pooler.c-8.us-east-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgresql://neondb_owner:npg_tYzKLCy1WAV4@ep-lucky-union-aqbbtfew-pooler.c-8.us-east-1.aws.neon.tech/neondb?channel_binding=require&connect_timeout=15&sslmode=require
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=10
